[Service]
description = Service description

# Service order and dependency control:

# Ordering control
after = service1,targetX

# Ordering control
before = serviceN, targetZ

# weak dependency
wants = service

# strong dependency
requires = service

# Service defined targets:
provides = target_name1, target_name2
defines = virtual service

# process control
exec_start = <executable_path>
exec_stop = <executable_path>
exec_reload = <executable_path>
pid_file = PID file path

# obsolete, remove below label
# MPY init unit files mustt start with:
# 'mpy_' prefix followed by mpy unit name.
mpy_package = mpy_package_name
