[Service]
description = Load mdevd

# Service order and dependency control:
before = checkfs fsck
requires = sysfs dev-mount

# Service defined target:
provides = dev

# process control
exec_start = /bin/mdevd -O4
pid_file = /run/mdevd.pid

