[Service]
description = Load modules.

# Service order and dependency control:
before hwclock hwdrivers

# process control
mpy_package = mpy_init_modules
